body {
  margin: 0 0 0 0;
}

.head {
  width: 1440px;
  height: 50px;
  background-color: #F5F5F5;

  .headsearch {
    margin: 0 0 0 240px;
    width: 200px;
  }
}

.main {
  width: 1025px;
  height: 800px;
  margin: 0 auto;
 background-color: none;
}

.leftbox {
  width: 250px;
  height: 550px;
  margin: 20px 0 0 0;
  background-color: none;
  float: left;

  img {
    width: 250px;
    height: 250px;
  }

  h2 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 10px 0 0 0 ;
  }

  h3 {
    color: gray;
    margin: 10px 0 0 7px;
  }

  hr {
    width: 240px;
  }

  .one {
    color: black;
  }

  .two {
    color: black;
  }

  .three {
    color: black;
  }

  .four {
    color: black;
  }


 @mixin margie {
  margin: -15px 0 0 20px;
 }
  .left {
    width: 50px;
    height: 50px;
    background-color: none;
    float: left;
    @include margie;
  }

  .middle {
    width: 50px;
    height: 50px;
    background-color: none;
    float: left;
    @include margie;
  }

  .right {
    width: 50px;
    height: 50px;
    background-color: none;
    float: left;
    @include margie;
  }

}



.rightmain {
  width: 774px;
  height: 550px;
  float: right;
  margin: 20px 0 0 0;
  background-color: none;


 .topmain {
   width: 750px;
   height: 30px;
   float: right;
   background-color: none;
 }

  .topmainunder {
    width: 750px;
    height: 50px;
    float: right;
    background-color: none;

  }

}




.topleft {
  margin: 40px 0 0 0;
}



.upperp {
  margin: -20px 0 0 450px;
}

.upperptwo {
  margin: -18px 0 0 540px;
}

.upperpthree {
  margin: -18px 0 0 595px;
}

.sign {
  width: 10px;
  height: 10px;
 margin: 0 0 0 210px;

}
